.box {
    width: 700px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}