body {
    height: 100vh;
    background-color: #202632;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
}

.box {
    background-color: #313a49;
    width: 545px;
    height: 335px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: space-evenly;
}

.box h1 {
    color: #57fea9;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 500;
}

.box h1 span {
    margin-left: 10px;
}

.box p {
    color: #d7e9f3;
    font-size: 30px;
    text-align: center;
    margin: 0;
    width: 90%;
    font-weight: 800;
}

button {
    background-color: #57fea9;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-bottom: -55px;
    cursor: pointer;
}

button:hover {
    background-color: #53ffa9;
    box-shadow: 0px 0px 55px -10px rgba(83,255,169,1);;
}